In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("car_data.csv")

In [3]:
dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [5]:
dataset = dataset.drop(columns = "Car_Name",axis =1)

In [6]:
dataset.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()
dataset["Fuel_Type"] = le.fit_transform(dataset["Fuel_Type"])
dataset["Seller_Type"] = le.fit_transform(dataset["Seller_Type"])
dataset["Transmission"] = le.fit_transform(dataset["Transmission"])

In [9]:
dataset.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,2,0,1,0
1,2013,4.75,9.54,43000,1,0,1,0
2,2017,7.25,9.85,6900,2,0,1,0
3,2011,2.85,4.15,5200,2,0,1,0
4,2014,4.60,6.87,42450,1,0,1,0

In [10]:
dataset.isnull().sum()

Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [11]:
x = dataset.drop(columns = "Selling_Price",axis = 1)

In [12]:
x.head()

,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,5.59,27000,2,0,1,0
1,2013,9.54,43000,1,0,1,0
2,2017,9.85,6900,2,0,1,0
3,2011,4.15,5200,2,0,1,0
4,2014,6.87,42450,1,0,1,0

In [13]:
y = dataset["Selling_Price"]

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 33)

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc= StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
lr =LinearRegression()

In [20]:
lr.fit(x_train,y_train)

LinearRegression()

In [21]:
y_pred = lr.predict(x_train)

In [22]:
from sklearn.metrics import r2_score

In [23]:
score = r2_score(y_train,y_pred)
print(score*(100))

89.11455759754371

In [24]:
# import joblib
# joblib.dump(lr,"model.joblib")

In [25]:
# loaded_model = joblib.load("model.joblib")

# Lasso regression

In [26]:
from sklearn.linear_model import Lasso

In [27]:
lass = Lasso()

In [28]:
lass.fit(x_train,y_train)

Lasso()

In [29]:
y_pred =lass.predict(x_train)

In [30]:
score = r2_score(y_train,y_pred)
print(score*(100))

77.71449829307005